.base-selector.allocation-form-context {
    width: 100%;
}

.base-selector.calendar-timeline-context {
    padding: 8px;
    width: 60%;
    z-index: 1000; 
    position: relative; 
}

.base-selector {
    position: relative;
    z-index: 1;
}
