.details-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 20px;
    background-color: #2A63A9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.details-button {
    margin: 5px;
    padding: 5px;
    width: 50%;
    height: 2.5rem;
    align-self: center;
    cursor: pointer;
    border: solid 2px #7EA4BC !important;
    background-color: #7EA4BC;
    color: #ffffff;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-size: 1.2rem;
}

.details-button:hover {
    background-color: #5C92A8;
    border-color: #5C92A8;
}

.details-button.delete {
    background-color: #D9534F;
    border-color: #D9534F;
}

.details-button.delete:hover {
    background-color: #C9302C;
    border-color: #C9302C;
}

.details-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.4rem;
}

.details-body > p > span {
    font-weight: bold;
}

.details-container-buttons{
    display: flex;
}
