.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    border-radius: 8px;
    min-width: 35rem;
}

.header-modal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: solid 1px #0b3b5b;
    padding: 0.5rem;
}

.header-modal > h2 {
    text-align: center;
    font-size: 1.3rem;
    color: #0b3b5b;
    width: 100%;
}

.header-modal > button {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 8px;
}

.header-modal > button {
    background-color: #FFF;
    color: rgba(255, 0, 0, 0.88);
}