.customTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

/* .customTable th, .customTable td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
} */

.customTable th {
    background-color: #2A63A9;
    text-align: center;
    color: #fff;
}

.customTable tr:nth-child(even) {
    background-color: #d5ecfa;
}

.customTable tr:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tableListSchema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
    background-color: #FFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.filterContainer {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    min-width: 98%;
    max-width: 98%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    gap: 0.5rem 0;

}

.customButton {
    margin: 0.3125rem;
    display: inline-block;
    padding: 0.3125rem;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #2A63A9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}

.tableFooter {
    display: flex;
    justify-content: space-between;
    width: 98% ;
    padding: 1rem;
}

.filterInput {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 8px;
    border: solid 0.5px #d6d6d6;
    outline: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 70%;
    align-self: center;
}

.filterContainer > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 20%;
    color: #2A63A9;
}

#tableTitle{
    background-color: #2A63A9;
    text-transform: uppercase;
    margin: 10rem;
    font-size: 30px;
}

.customTable .tableTitle2 tr:nth-child(even) {
    background-color: #d60c0c;
    color: #D8D6D6;
    margin-bottom: 1px;
}

.customTable td {
    height: 3rem;
}