.tableContent {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
}

.customTable {
    /*width: 98%;*/
    border-collapse: collapse;
}

.customTable th, .customTable td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.customTable th {
    background-color: #2A63A9;
    text-align: center;
    color: #fff;
}

.customTable tr:nth-child(even) {
    background-color: #d5ecfa;
}

.customTable tr:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tableListSchema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.filterContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    min-width: 100%;
    max-width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    gap: 0.5rem 0;
}

.customButton {
    margin: 0.3125rem;
    display: inline-block;
    padding: 0.3125rem;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #2A63A9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}

.tableFooter {
    display: flex;
    justify-content: space-between;
    width: 100% ;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.filterInput {
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: solid 0.5px #d6d6d6;
    outline: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
    align-self: center;
}

.filterContainer > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #2A63A9;
}

#tableTitle{
    background-color: #2A63A9;
    text-transform: uppercase;
}

.filterName {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem;
    background-color: #2A63A9;
    color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.filterName > * {
    font-size: 1.2rem;
}

.filterContainer > div > strong {
    text-align: left;
}