.customTable {
    width: 98%;
    border-collapse: collapse;
}

.customTable th, .customTable td {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.customTable th {
    background-color: #2A63A9;
    text-align: center;
    color: #fff;
}

.customTable tr:nth-child(even) {
    background-color: #d5ecfa;
}

.customTable tr:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.tableListSchema {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
    border-radius: 10px;
}

.filterContainer {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    min-width: 98%;
}

.customButton {
    margin: 0.3125rem;
    display: inline-block;
    padding: 0.3125rem;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #2A63A9;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}

.tableFooter {
    display: flex;
    justify-content: space-between;
    width: 98% ;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.tableFooter > select {

}